@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}

body {
    background: #f8f9fa;
    min-height: 100vh;
}

.p-card-content li {
    list-style-type:circle;
    /* list-style-position: inside; */
    margin-left: 1.5em;
}

.p-menubar {
    padding: 0.5rem;
}

.p-menubar-root-list>.p-menuitem-active>.p-submenu-list {
    right: 0;
}

.p-menubar .p-submenu-list>.p-menuitem-active>.p-submenu-list {
    right: 100% !important;
    left: initial !important;
}

.p-menubar .p-menubar-root-list {
    flex-grow: 1;
    justify-content: end;
}

.p-menubar .p-menuitem>.p-menuitem-content .p-menuitem-link {
    padding-right: 2rem;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-content .p-menuitem-link {
    padding: 1rem;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-content .p-menuitem-link .p-submenu-icon {
    margin-left: .2rem;
}

/* .p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled)>.p-menuitem-content .p-menuitem-link .p-menuitem-text {
    white-space: nowrap;
} */

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-content .p-menuitem-link .submenu-icon {
    order: 2;
    margin: 0 0 0 .5rem;
}

.p-menubar .p-menubar-button {
    position: absolute;
    right: 7rem;
}

@media screen and (max-width: 960px) {
    .p-menubar .p-menubar-root-list, .p-submenu-list{
        padding: 0;
    }
}

@media screen and (min-width: 959px) {
    .p-menubar .p-submenu-list {
        width: 15rem;
        /* max-width: 100%; */
    }
    .p-menubar .p-submenu-list .p-menuitem .p-menuitem-content .p-menuitem-link .submenu-icon {
        margin: .5rem;
        margin-left: 0;
        order: -1;
        transform: rotate(180deg);
    }
}